.detail{
  border: 2px solid #B8043B;
  margin: 7px;
  padding: 7px;
}

html, body {
  height: 100%;
  background-color: black;
  color: white;
  padding: 5px;
}

h1{
  color: #B8043B;
}
.Details{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chinnaApp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info{
  border: 1px solid #B8043B;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 3px;
}

.info > * {
  padding: 1px;
  margin: 1px;
}

.errorBox{
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
}

.errorBox > h1{
  font-size: 30px;
  padding: 0px;
  margin: 1px;
}
.askForLoan{
  position: absolute;
  left: 0;
  top: 0;
  margin: 8px;
  width: 160px;
  height: 40px;
  border: 2px solid #B8043B;
  background-color: black;
  color: white;
  
}




